## Extraction

In [368]:
%matplotlib inline

# Write column names

In [369]:
def listToString(s): 
    
    # initialize an empty string
    str1 = "\n" 
    
    # return string  
    return (str1.join(s))

# Libraries Import

In [370]:
import numpy as np
import pandas as pd
import scipy as sp
# import xlrd
# import matplotlib as mpl
import matplotlib.pyplot as plt
# import seaborn as sns
from pandas.api.types import CategoricalDtype

# For import export of model
import pickle

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.ensemble import RandomForestRegressor


from sklearn.linear_model import RidgeCV
from sklearn.svm import LinearSVR
from sklearn.ensemble import StackingRegressor

from sklearn.tree import export_graphviz
from sklearn import tree

from sklearn import metrics

import graphviz

# print(plt.style.available)
# mpl.style.use(['seaborn']) # optional: for ggplot-like style

# Data Related

## Data Import

In [371]:
datastore = pd.read_csv('D:\\OneDrive - Institute of Business Administration\\Work\\Duft Und Du\\user_fragrance_review.csv', header=0)

In [372]:
df = pd.DataFrame(data=datastore)
df

,ufr_id,fba_country_name,fba_time_zone,longevity,suitability,sustainability,apply_time,wear_off_time,indoor_time_percentage,number_of_sprays,...,fragrance_discontinued,fragrance_type,brand_id,brand,brand_discontinued,brand_tier,bo_location_country,bo_location_zone,fba_location_country,fba_location_zone
0,5,Pakistan,+05:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,NaN,Eau de Toilette,7,Brut,NaN,Low-End,France,+02:00,Pakistan,+05:00
1,5,India,+05:30,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,NaN,Eau de Toilette,7,Brut,NaN,Low-End,France,+02:00,India,+05:30
2,5,France,+02:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,NaN,Eau de Toilette,7,Brut,NaN,Low-End,France,+02:00,France,+02:00
3,5,United Arab Emirates,+04:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,NaN,Eau de Toilette,7,Brut,NaN,Low-End,France,+02:00,United Arab Emirates,+04:00
4,6,France,+02:00,132,NaN,13.2,2021-03-24 14:10:00,2021-03-24 16:22:00,90,1,...,NaN,Eau de Toilette,10,Lacoste,NaN,Mid,France,+02:00,France,+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,21,Turkey,+03:00,254,NaN,254.0,2021-05-15 05:31:00,2021-05-15 09:45:00,100,2,...,NaN,Eau de Toilette,6,Versace,NaN,High-End,Italy,+02:00,Turkey,+03:00
129,21,South Africa,+02:00,254,NaN,254.0,2021-05-15 05:31:00,2021-05-15 09:45:00,100,2,...,NaN,Eau de Toilette,6,Versace,NaN,High-End,Italy,+02:00,South Africa,+02:00
130,21,Spain,+02:00,254,NaN,254.0,2021-05-15 05:31:00,2021-05-15 09:45:00,100,2,...,NaN,Eau de Toilette,6,Versace,NaN,High-End,Italy,+02:00,Spain,+02:00
131,21,Switzerland,+02:00,254,NaN,254.0,2021-05-15 05:31:00,2021-05-15 09:45:00,100,2,...,NaN,Eau de Toilette,6,Versace,NaN,High-End,Italy,+02:00,Switzerland,+02:00
132,21,Thailand,+07:00,254,NaN,254.0,2021-05-15 05:31:00,2021-05-15 09:45:00,100,2,...,NaN,Eau de Toilette,6,Versace,NaN,High-End,Italy,+02:00,Thailand,+07:00

In [373]:
df.head()

,ufr_id,fba_country_name,fba_time_zone,longevity,suitability,sustainability,apply_time,wear_off_time,indoor_time_percentage,number_of_sprays,...,fragrance_discontinued,fragrance_type,brand_id,brand,brand_discontinued,brand_tier,bo_location_country,bo_location_zone,fba_location_country,fba_location_zone
0,5,Pakistan,+05:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,NaN,Eau de Toilette,7,Brut,NaN,Low-End,France,+02:00,Pakistan,+05:00
1,5,India,+05:30,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,NaN,Eau de Toilette,7,Brut,NaN,Low-End,France,+02:00,India,+05:30
2,5,France,+02:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,NaN,Eau de Toilette,7,Brut,NaN,Low-End,France,+02:00,France,+02:00
3,5,United Arab Emirates,+04:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,NaN,Eau de Toilette,7,Brut,NaN,Low-End,France,+02:00,United Arab Emirates,+04:00
4,6,France,+02:00,132,NaN,13.2,2021-03-24 14:10:00,2021-03-24 16:22:00,90,1,...,NaN,Eau de Toilette,10,Lacoste,NaN,Mid,France,+02:00,France,+02:00

In [374]:
# df.columns

## Cleaning

In [375]:
columns_to_drop = ['ufr_id', 'fba_country_name', 'fba_time_zone', 'suitability', 'sustainability', 'sillage', 
                   'like', 'users_id', 'user_check', 'fragrance_id', 'brand_id', 'fba_location_country', 
                   'fba_location_zone', 'wear_off_time', 'indoor_time_percentage', 'projection', 'climate', 
                   'fp_time_zone', 'fragrance_discontinued', 'brand_discontinued', 'bo_location_country', 
                   'bo_location_zone', 'weather_description', 'uv_index_avg', 'visibility_avg', 'atm_pressure_avg', 
                   'clouds_avg', 'temp_feels_like_avg', 'wind_speed_avg', 'rain_avg', 'snow_avg']

df.drop(columns=columns_to_drop, axis=1, inplace=True)


# Write column name to files
with open("longevity_individual_column_names_after_initial_drop.txt", "w") as f:
    f.write(listToString(df.columns))

In [376]:
df.drop_duplicates(subset=None, keep="first", inplace=True)
df.shape

(17, 22)

In [377]:
df.isnull().sum()

longevity           0
apply_time          0
number_of_sprays    0
temp_avg            0
hum_avg             0
dew_point_avg       0
weather_main        0
fp_id               0
gender              0
dob                 0
sweat               2
height              0
weight              0
profession          0
skin_type           0
season              0
fp_country          0
fragrance           0
fragrance_gender    0
fragrance_type      0
brand               0
brand_tier          0
dtype: int64

In [378]:
# Missing Values
# df['suitability'].fillna(df['suitability'].median(), inplace=True)
# df['suitability'].fillna(int(df['suitability'].mean()), inplace=True)

# df['suitability'].fillna(int(0), inplace=True)

# df['projection'].fillna(int(0), inplace=True)
# df['rain_avg'].fillna(int(0), inplace=True)
# df['snow_avg'].fillna(int(0), inplace=True)

# df['user_check'].fillna(int(0), inplace=True)


df['sweat'].fillna(int(df['sweat'].mean()), inplace=True)


# df['fragrance_discontinued'].fillna(int(0), inplace=True)
# df['brand_discontinued'].fillna(int(0), inplace=True)

### Data Types

In [379]:
df.dtypes

longevity             int64
apply_time           object
number_of_sprays      int64
temp_avg            float64
hum_avg             float64
dew_point_avg       float64
weather_main         object
fp_id                 int64
gender               object
dob                  object
sweat               float64
height                int64
weight                int64
profession           object
skin_type            object
season               object
fp_country           object
fragrance            object
fragrance_gender     object
fragrance_type       object
brand                object
brand_tier           object
dtype: object

In [309]:

# Datetime
df['dob']               = df['dob'].astype('datetime64[ns]')
df['apply_time']        = df['apply_time'].astype('datetime64[ns]')

# Boolean
# df['fragrance_discontinued']    = df['fragrance_discontinued'].astype('bool')
# df['brand_discontinued']        = df['brand_discontinued'].astype('bool')

### Adding new

In [310]:
# Calcualting Age
now = pd.to_datetime('now')
df['age'] = (now - df['dob']).dt.total_seconds() / (60*60*24*365.25)

# Type Cast
df['age'] = df['age'].astype('float')

# Drop dob
df.drop(['dob'],axis=1, inplace=True)

In [311]:
# Sorting out Dates

# Apply Time
# df['apply_time_year']          = df['apply_time'].dt.year
df['apply_time_month']         = df['apply_time'].dt.month
df['apply_time_day']           = df['apply_time'].dt.day
# df['apply_time_hour']          = df['apply_time'].dt.hour
# df['apply_time_minute']        = df['apply_time'].dt.minute
# df['apply_time_weekday_name']  = df['apply_time'].dt.day_name()

# Drop Apply Time & Wear Off Time
df.drop(['apply_time'],axis=1, inplace=True)

In [312]:
df.dtypes

longevity                    int64
number_of_sprays             int64
temp_avg                   float64
hum_avg                    float64
dew_point_avg              float64
uv_index_avg               float64
temp_feels_like_avg        float64
atm_pressure_avg           float64
clouds_avg                 float64
visibility_avg               int64
wind_speed_avg             float64
rain_avg                   float64
snow_avg                   float64
weather_main                object
fp_id                        int64
gender                      object
sweat                      float64
height                       int64
weight                       int64
profession                  object
skin_type                   object
season                      object
fp_country                  object
fragrance                   object
fragrance_gender            object
fragrance_type              object
brand                       object
brand_tier                  object
age                        float64
apply_time_year              int64
apply_time_month             int64
apply_time_day               int64
apply_time_hour              int64
apply_time_minute            int64
apply_time_weekday_name     object
dtype: object

## Resolving longevity and number_of_sprays

In [313]:
# df['fragrance_id'].dtypes

In [314]:
# df['longevity_ratio'] = df['longevity'] / df['number_of_sprays']
# df['longevity_in_hours'] = df['longevity'] / 60
# df['longevity_in_hours'] = df['longevity_in_hours'].astype(np.float64)
# df['number_of_sprays'] = df['number_of_sprays'].astype(np.int)

In [315]:
# slope, intercept, r_value, p_value, std_err = sp.stats.linregress(df['number_of_sprays'].dropna(), df['longevity_in_hours'].dropna())
# slope, intercept, r_value**2, p_value

In [316]:
# def get_reg_cof(df, columns, fragrance):
#     temp_df = df[df['fragrance'] == fragrance].dropna(subset=[columns[0], columns[1]], axis=0)
#     slope, intercept, r_value, p_value, std_err = sp.stats.linregress(temp_df[columns[0]].astype(np.int), temp_df[columns[1]].astype(np.int))
#     return slope, intercept, r_value**2, p_value

In [317]:
# def get_longevity(df, fragrance, sprays=5):
#     slope, intercept, r_value_2, p_value = get_reg_cof(df, ['number_of_sprays', 'longevity'], fragrance)
#     if np.isnan(slope):
#         return -1
#     else:
#         return ( slope * sprays ) + intercept

In [318]:
# df['longevity_for_5'] = df['fragrance'].apply(lambda x: get_longevity(df, x))
# df['longevity_for_5']

In [319]:
# slope, intercept, r_value, p_value, std_err = sp.stats.linregress(df['longevity_ratio'].astype(np.float32).dropna(), df['longevity_for_5'].astype(np.float32).dropna())
# slope, intercept, r_value**2, p_value

In [320]:
# def resolve_longevity(new_long, old_long, old_sprays, slope, intercept):
#     if new_long == -1:
#         return ( ( old_long / old_sprays ) * slope ) + intercept 
#     else:
#         return new_long

In [321]:
# df['new_longevity'] = df.apply(lambda x : resolve_longevity(x['longevity_for_5'], x['longevity'], x['number_of_sprays'], slope, intercept), axis=1)
# df['new_longevity']

In [322]:
# def negative_longevity(old, new):
#     if new < 10:
#         return old
#     else:
#         return new

In [323]:
# df['new_longevity'] = df.apply(lambda x : negative_longevity(x['longevity'], x['new_longevity'],), axis=1)
# df['new_longevity']

In [324]:
# df.columns

In [325]:
# df['longevity'] = df['new_longevity']
# # df['number_of_sprays'] = 5

In [326]:
# df.drop(['longevity_in_hours', 'longevity_for_5', 'new_longevity', 'longevity_ratio'], axis=1, inplace=True)
# df.drop(['uv_index_avg', 'visibility_avg', 'apply_time_minute', 'apply_time_hour', 'atm_pressure_avg', 'clouds_avg', 'temp_feels_like_avg', 'wind_speed_avg'], axis=1, inplace=True)
# df.drop(['rain_avg', 'snow_avg', 'apply_time_year', 'apply_time_weekday_name'], axis=1, inplace=True)

In [327]:
# df.columns

In [328]:
# Columns with any null values
df.columns[df.isna().any()].tolist()

[]

In [329]:
df.reset_index(drop=True, inplace=True)
df.head()

,longevity,number_of_sprays,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,visibility_avg,...,fragrance_type,brand,brand_tier,age,apply_time_year,apply_time_month,apply_time_day,apply_time_hour,apply_time_minute,apply_time_weekday_name
0,14,7,78.42,21.75,35.66,6.39,72.09,1014.25,61.62,60000,...,Eau de Toilette,Brut,Low-End,23.373892,2021,3,4,17,21,Thursday
1,132,1,90.76,30.38,49.41,10.34,86.04,1009.88,13.50,60000,...,Eau de Toilette,Lacoste,Mid,22.251373,2021,3,24,14,10,Wednesday
2,150,2,90.52,54.75,71.41,10.90,97.95,1006.50,28.50,60000,...,Eau de Toilette,Lacoste,Mid,22.415644,2021,5,4,2,30,Tuesday
3,60,4,88.12,31.12,52.49,9.65,85.86,1006.00,51.88,60000,...,Eau de Toilette,Lacoste,Mid,24.236315,2021,5,6,16,0,Thursday
4,119,1,93.66,43.00,65.04,11.54,97.97,1002.75,7.62,60000,...,Eau de Toilette,Mont Blanc,Mid,22.415644,2021,5,10,2,31,Monday

### Categorical Variables

In [330]:
categorical_columns = df.select_dtypes(include=['object']).columns.values
df = df.convert_dtypes()
categorical_columns = list(categorical_columns)
categorical_columns.remove('fragrance')
categorical_columns

['weather_main',
 'gender',
 'profession',
 'skin_type',
 'season',
 'fp_country',
 'fragrance_gender',
 'fragrance_type',
 'brand',
 'brand_tier',
 'apply_time_weekday_name']

In [331]:
def resolve_categorical_variable(df, column_name):
    df = pd.concat([df,pd.get_dummies(df[column_name], prefix=column_name)],axis=1)
    df.drop([column_name],axis=1, inplace=True)
    return df

def resolve_categorical_variables(df, column_names_arr):
    dummies = {};
    
    for column_name in column_names_arr:
        
        dummies[column_name] = pd.get_dummies(df[column_name], prefix=column_name)
        
        df = pd.concat([df, dummies[column_name]], axis=1)
        df.drop([column_name], axis=1, inplace=True)
    
    # Save dummies for prediction
    with open('longevity_individual_dummies.pickle', 'wb') as f:
        pickle.dump(dummies, f)
        
    return df

In [332]:
df = resolve_categorical_variables(df, np.append(categorical_columns, ('fp_id')))

# Save columne names
file = open('longevity_individual_column_names_after_cleaning_drop.txt', 'w')

# dump information to that file
file.write(listToString(df.columns))

# close the file
file.close()

# df.columns

In [333]:
print(df.shape)
print(df.duplicated(keep='first').sum())

(17, 74)
0

In [334]:
# df.to_csv('cleaned.csv', header=True, index=True)

In [335]:
df.head()

,longevity,number_of_sprays,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,visibility_avg,...,apply_time_weekday_name_Tuesday,apply_time_weekday_name_Wednesday,fp_id_1,fp_id_11,fp_id_12,fp_id_13,fp_id_17,fp_id_18,fp_id_20,fp_id_21
0,14,7,78.42,21.75,35.66,6.39,72.09,1014.25,61.62,60000,...,0,0,0,0,1,0,0,0,0,0
1,132,1,90.76,30.38,49.41,10.34,86.04,1009.88,13.5,60000,...,0,1,0,1,0,0,0,0,0,0
2,150,2,90.52,54.75,71.41,10.9,97.95,1006.5,28.5,60000,...,1,0,1,0,0,0,0,0,0,0
3,60,4,88.12,31.12,52.49,9.65,85.86,1006.0,51.88,60000,...,0,0,0,0,0,0,1,0,0,0
4,119,1,93.66,43.0,65.04,11.54,97.97,1002.75,7.62,60000,...,0,0,1,0,0,0,0,0,0,0

In [336]:
df.drop_duplicates(subset=None, keep="first", inplace=True)
df.shape

(17, 74)

In [337]:
# Columns with any null values
df.columns[df.isna().any()].tolist()

[]

In [338]:
df.reset_index(drop=True, inplace=True)
df.head()

,longevity,number_of_sprays,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,visibility_avg,...,apply_time_weekday_name_Tuesday,apply_time_weekday_name_Wednesday,fp_id_1,fp_id_11,fp_id_12,fp_id_13,fp_id_17,fp_id_18,fp_id_20,fp_id_21
0,14,7,78.42,21.75,35.66,6.39,72.09,1014.25,61.62,60000,...,0,0,0,0,1,0,0,0,0,0
1,132,1,90.76,30.38,49.41,10.34,86.04,1009.88,13.5,60000,...,0,1,0,1,0,0,0,0,0,0
2,150,2,90.52,54.75,71.41,10.9,97.95,1006.5,28.5,60000,...,1,0,1,0,0,0,0,0,0,0
3,60,4,88.12,31.12,52.49,9.65,85.86,1006.0,51.88,60000,...,0,0,0,0,0,0,1,0,0,0
4,119,1,93.66,43.0,65.04,11.54,97.97,1002.75,7.62,60000,...,0,0,1,0,0,0,0,0,0,0

In [339]:
# df.describe()

## Checking columns significance

In [340]:
# old_df = df.copy(deep=False)

In [341]:
# from sklearn.preprocessing import 

# Normalizer(norm='l2', *, copy=True)

In [342]:
# df.corr()

In [343]:
# df['longevity']

#### Saving columns to compare in prediction

In [344]:
with open('longevity_individual_column_names_check.pickle', 'wb') as f:
    pickle.dump(df[df.columns.difference(['longevity'])].columns, f)

## Boosting the dataset

In [345]:
# df = pd.concat([df, df, df, df], ignore_index=True)
# df = pd.concat([df, df, df, df], ignore_index=True)
# df.reset_index(drop=True, inplace=True)
# df.dropna(inplace=True)
# df.shape

In [346]:
copy_df = df.copy(deep=False)

In [353]:
df = copy_df.copy(deep=False)

In [354]:
with open('longevity_template.pickle', 'rb') as f:
    fragrance, profile, weather = pickle.load(f)

In [355]:
fragrance_df    =  pd.DataFrame(data=eval(fragrance), index=[0])
profile_df      =  pd.DataFrame(data=eval(profile),   index=[0])
weather_df      =  pd.DataFrame(data=eval(weather),   index=[0])

In [356]:
def fix_weather_keys(df):
    old_weather_columns = df.columns
    new_weather_columns = []
    for i in range(len(old_weather_columns) - 2):
        new_weather_columns.append(old_weather_columns[i] + '_avg')
    new_weather_columns.extend(old_weather_columns[-2:])
    df.columns = new_weather_columns
    return df

In [357]:
weather_df = fix_weather_keys(weather_df)
weather_df

,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,visibility_avg,wind_speed_avg,rain_avg,snow_avg,weather_main,weather_desc
0,82.2525,75.25,73.88,6.69625,88.15,1013.5,66.125,60000,15.71125,2.86375,0,Rain,light rain

In [358]:
df1 = pd.concat([fragrance_df, profile_df, weather_df], axis=1)

In [ ]:
df1 = df1[df1.columns.difference(['weather_desc'], sort=False)]

In [ ]:
df1['number_of_sprays'] = 7
df1['apply_time'] = datetime.now().strftime('%Y-%m-%d 12:00:00')

In [ ]:
df['dob']               = df['dob'].astype('datetime64[ns]')
df['apply_time']        = df['apply_time'].astype('datetime64[ns]')

In [ ]:
now = pd.to_datetime('now')
df['age'] = (now - df['dob']).dt.total_seconds() / (60*60*24*365.25)
df.drop(['dob'],axis=1, inplace=True)

# Model

## Train

In [348]:
fragrance = "Noir"

In [349]:
new_df = df[df['fragrance'] == fragrance]
new_df = new_df.drop('fragrance', axis=1)
new_df

,longevity,number_of_sprays,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,visibility_avg,...,apply_time_weekday_name_Tuesday,apply_time_weekday_name_Wednesday,fp_id_1,fp_id_11,fp_id_12,fp_id_13,fp_id_17,fp_id_18,fp_id_20,fp_id_21
1,132,1,90.76,30.38,49.41,10.34,86.04,1009.88,13.5,60000,...,0,1,0,1,0,0,0,0,0,0
2,150,2,90.52,54.75,71.41,10.9,97.95,1006.5,28.5,60000,...,1,0,1,0,0,0,0,0,0,0
3,60,4,88.12,31.12,52.49,9.65,85.86,1006.0,51.88,60000,...,0,0,0,0,0,0,1,0,0,0
5,240,5,103.33,18.25,51.47,11.42,101.02,1000.88,3.62,60000,...,0,0,0,0,0,0,0,0,0,1

In [350]:
Y = new_df['longevity']
X = new_df.drop('longevity', axis=1)

In [351]:
X = X.loc[:, (X != X.iloc[0]).any()] 
X

,number_of_sprays,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,wind_speed_avg,rain_avg,...,season_Summer,season_Winter,apply_time_weekday_name_Monday,apply_time_weekday_name_Thursday,apply_time_weekday_name_Tuesday,apply_time_weekday_name_Wednesday,fp_id_1,fp_id_11,fp_id_17,fp_id_21
1,1,90.76,30.38,49.41,10.34,86.04,1009.88,13.5,11.08,0.0,...,0,0,0,0,0,1,0,1,0,0
2,2,90.52,54.75,71.41,10.9,97.95,1006.5,28.5,21.08,0.0,...,0,1,0,0,1,0,1,0,0,0
3,4,88.12,31.12,52.49,9.65,85.86,1006.0,51.88,11.21,0.92,...,1,0,0,1,0,0,0,0,1,0
5,5,103.33,18.25,51.47,11.42,101.02,1000.88,3.62,21.09,0.0,...,1,0,1,0,0,0,0,0,0,1

In [352]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(X, Y)

In [ ]:
model.predict(X_bar)

In [4300]:
# define the target variable (dependent variable) as y
y = df.longevity.copy(deep=False)
y = y.astype(float)
# y.reset_index(drfop=True, inplace=True)

df.drop('longevity', axis=1, inplace=True)
# df.reset_index(drop=True, inplace=True)

In [4301]:
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)

print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(13, 72) (13,)
(4, 72) (4,)

In [4373]:

# from sklearn.ensemble import AdaBoostRegressor
# from sklearn.ensemble import GradientBoostingRegressor

#     ('abr', AdaBoostRegressor(base_estimator=None, n_estimators=50, learning_rate=2.0, loss='linear', random_state=0)),
#     ('gbr', GradientBoostingRegressor(n_estimators=50, max_depth=4, min_samples_split=5, learning_rate=0.01, loss='ls')),


from sklearn.ensemble import BaggingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Lars
from sklearn.linear_model import LassoLars
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
# For not normalized

estimators = [
    ('br', BaggingRegressor(base_estimator=None, n_estimators=10, bootstrap=True, bootstrap_features=False, warm_start=False, random_state=0)),
    ('lnr', LinearRegression()),
    ('en', ElasticNet(alpha=1.0, l1_ratio=0.5, max_iter=1750, copy_X=True, tol=0.0001, random_state=0, selection='random')),
    ('en2', ElasticNet(alpha=1.0, l1_ratio=0.5, max_iter=1750, copy_X=True, tol=0.0001, random_state=50, selection='cyclic')),
#     ('lar', Lars(normalize=True, n_nonzero_coefs=np.inf, eps=2.220446049250313e-16, copy_X=True, fit_path=True, jitter=None, random_state=0)),
    ('llar', LassoLars(alpha=1.0, normalize=True, max_iter=1000, eps=2.220446049250313e-16, copy_X=True, fit_path=True, jitter=None, random_state=0)),  
    ('knr', KNeighborsRegressor(n_neighbors=5, weights='distance', algorithm='auto', leaf_size=30)),
    ('rfr', RandomForestRegressor(n_estimators=5, criterion="mse", random_state=0)),
    ('rfr2', RandomForestRegressor(n_estimators=5, criterion="mse", random_state=0)),
    ('rfr3', RandomForestRegressor(n_estimators=5, criterion="mse", random_state=0)),
]

In [ ]:
# For normalized

estimators = [
    ('br', BaggingRegressor(base_estimator=None, n_estimators=10, bootstrap=True, bootstrap_features=False, warm_start=False, random_state=0)),
    ('lnr', LinearRegression()),
    ('en', ElasticNet(alpha=1.0, l1_ratio=0.5, max_iter=1750, copy_X=True, tol=0.0001, random_state=0, selection='random')),
    ('en2', ElasticNet(alpha=1.0, l1_ratio=0.5, max_iter=1750, copy_X=True, tol=0.0001, random_state=50, selection='cyclic')),
#     ('lar', Lars(normalize=True, n_nonzero_coefs=np.inf, eps=2.220446049250313e-16, copy_X=True, fit_path=True, jitter=None, random_state=0)),
    ('llar', LassoLars(alpha=1.0, normalize=True, max_iter=1000, eps=2.220446049250313e-16, copy_X=True, fit_path=True, jitter=None, random_state=0)),  
    ('knr', KNeighborsRegressor(n_neighbors=5, weights='distance', algorithm='auto', leaf_size=30)),
    ('rfr', RandomForestRegressor(n_estimators=5, criterion="mse", random_state=0)),
    ('rfr2', RandomForestRegressor(n_estimators=5, criterion="mse", random_state=0)),
    ('rfr3', RandomForestRegressor(n_estimators=5, criterion="mse", random_state=0)),
]

In [4366]:
# Create Decision Tree classifer object
# model_init = DecisionTreeRegressor(random_state = 0, criterion='mse')
# model_init = RandomForestClassifier(n_estimators=20, random_state=0)

# from sklearn.ensemble import AdaBoostRegressor
# model_init = AdaBoostRegressor(base_estimator=estimators, n_estimators=3000, learning_rate=7.0, loss='linear', random_state=0)

model_init = StackingRegressor(estimators=estimators, 
                               final_estimator=RandomForestRegressor(n_estimators=5, criterion="mse", random_state=0),
                               cv=None,
                               passthrough=False)

In [4367]:
# Train Decision Tree Classifer

# X_train.dropna(inplace=True)
model = model_init.fit(X_train, y_train)

C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 14.766521716112038, tolerance: 7.523219424953428
  model = cd_fast.enet_coordinate_descent(
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 4 iterations, i.e. alpha=6.479e+00, with an active set of 4 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=4.400e+00, with an active set of 7 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=2.817e+00, with an active set of 8 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=2.497e+00, with an active set of 8 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=1.230e+00, with an active set of 9 regressors, and the smallest cholesky pivot element being 2.356e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=1.208e+00, with an active set of 9 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=1.168e+00, with an active set of 9 regressors, and the smallest cholesky pivot element being 2.581e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=1.071e+00, with an active set of 9 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=1.071e+00, with an active set of 9 regressors, and the smallest cholesky pivot element being 2.581e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 2 iterations, i.e. alpha=1.431e+01, with an active set of 2 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 4 iterations, i.e. alpha=7.768e+00, with an active set of 4 regressors, and the smallest cholesky pivot element being 1.825e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=6.045e+00, with an active set of 7 regressors, and the smallest cholesky pivot element being 1.825e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:642: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 10 iterations, alpha=5.970e+00, previous alpha=5.820e+00, with an active set of 7 regressors.
  warnings.warn('Early stopping the lars path, as the residues '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 5 iterations, i.e. alpha=5.214e+00, with an active set of 5 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=2.607e+00, with an active set of 7 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=2.607e+00, with an active set of 7 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=2.607e+00, with an active set of 7 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.461e+00, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.432e+00, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.419e+00, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.980e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.289e+00, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.980e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.270e+00, with an active set of 10 regressors, and the smallest cholesky pivot element being 4.215e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.105e+00, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.098e+00, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '
C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.098e+00, with an active set of 10 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '

## Test

In [4368]:
#Predict the response for test dataset
y_pred = model.predict(X_test)

## Evaluate

In [4369]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
# print('Mean Absolute Error Percentage:', metrics.mean_absolute_error(y_test, y_pred)*100)
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Root Mean Squared Error Percentage:', np.mean(abs(y_test-y_pred)/y_test)*100)

Mean Absolute Error: 30.690137684174402
Mean Squared Error: 1860.2099266146615
Root Mean Squared Error: 43.13015101544002
Root Mean Squared Error Percentage: 20.466622041765827

In [4370]:
# model.estimators_

In [4364]:
y_pred

array([ 96.33703757, 136.23297865, 100.47920701, 134.28574998])

### Fit over the full dataset

In [3643]:
model = model_init.fit(df, y)

C:\Anaconda3\envs\duft_und_du\lib\site-packages\sklearn\linear_model\_least_angle.py:615: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 4 iterations, i.e. alpha=1.275e+00, with an active set of 4 regressors, and the smallest cholesky pivot element being 1.054e-08. Reduce max_iter or increase eps parameters.
  warnings.warn('Regressors in active set degenerate. '

In [3644]:
# model.predict(df)

## Save the vars pickle for prediction

### Model

In [4350]:
with open('longevity_individual_model.pickle', 'wb') as f:
    pickle.dump(model, f)

In [4351]:
with open('longevity_individual_model.pickle', 'rb') as f:
    loaded_pickle = pickle.load(f)
    
# loaded_pickle

### Categorical Variables

In [4352]:
with open('longevity_individual_dummies.pickle', 'rb') as f:
    train_dummies = pickle.load(f)

# Categorical variables in a dataframe
cat_df = pd.DataFrame()
for column_name in train_dummies:
    for dummy in train_dummies[column_name]:
        cat_df[dummy] = 0
        
# Save in file
with open('longevity_individual_categorical_variables.pickle', 'wb') as f:
    pickle.dump(cat_df, f)
    
# cat_df

# END