## Extraction

In [119]:
%matplotlib inline

In [120]:
import numpy as np
import pandas as pd
# import xlrd
# import matplotlib as mpl
# import matplotlib.pyplot as plt
# import seaborn as sns
from pandas.api.types import CategoricalDtype

# For import export of model
import pickle

from sklearn import linear_model
from sklearn.model_selection import train_test_split

# print(plt.style.available)
# mpl.style.use(['seaborn']) # optional: for ggplot-like style

In [121]:
# file='C:/Users/Abdul Samad/OneDrive - Institute of Business Administration/Work/Tutorials/Machine Learning/Python/Visualizing Data/Canada.xlsx'
# df_full=pd.ExcelFile(file) # load spreadsheet
# print(df_full.sheet_names) #print the sheets names
# df = df_full.parse('Canada by Citizenship', skiprows=range(20), skip_footer=20)

# file_path = 'D:/OneDrive - Institute of Business Administration/Work/Duft Und Du/user_fragrance_review.csv'
# df = pd.read_csv(file_path)
unidecode(sys.argv[1])

In [122]:
df.head()

,ufr_id,fba_country_name,fba_time_zone,longevity,suitability,sustainability,apply_time,wear_off_time,indoor_time_percentage,number_of_sprays,...,accord,ingredient,brand_id,brand,brand_discontinued,brand_tier,bo_location_country,bo_location_zone,fba_location_country,fba_location_zone
0,1,Chile,-04:00,1,NaN,0.02,2021-02-12 10:58:00,2021-02-12 10:57:00,54,11,...,Animalic,Citruses,1,Venom,NaN,High,Denmark,+02:00,Chile,-04:00
1,1,Chile,-04:00,1,NaN,0.02,2021-02-12 10:58:00,2021-02-12 10:57:00,54,11,...,Spicy,Citruses,1,Venom,NaN,High,Denmark,+02:00,Chile,-04:00
2,1,Chile,-04:00,1,NaN,0.02,2021-02-12 10:58:00,2021-02-12 10:57:00,54,11,...,Sweet,Citruses,1,Venom,NaN,High,Denmark,+02:00,Chile,-04:00
3,1,Chile,-04:00,1,NaN,0.02,2021-02-12 10:58:00,2021-02-12 10:57:00,54,11,...,Animalic,Clementine,1,Venom,NaN,High,Denmark,+02:00,Chile,-04:00
4,1,Chile,-04:00,1,NaN,0.02,2021-02-12 10:58:00,2021-02-12 10:57:00,54,11,...,Spicy,Clementine,1,Venom,NaN,High,Denmark,+02:00,Chile,-04:00

## Cleaning

In [123]:
df.dtypes

ufr_id                      int64
fba_country_name           object
fba_time_zone              object
longevity                   int64
suitability               float64
sustainability            float64
apply_time                 object
wear_off_time              object
indoor_time_percentage      int64
number_of_sprays            int64
projection                float64
sillage                   float64
like                        int64
temp_avg                  float64
hum_avg                   float64
dew_point_avg             float64
uv_index_avg              float64
temp_feels_like_avg       float64
atm_pressure_avg          float64
clouds_avg                float64
visibility_avg              int64
wind_speed_avg            float64
rain_avg                  float64
snow_avg                  float64
weather_main               object
weather_description        object
users_id                    int64
fp_id                       int64
user_check                float64
gender                     object
dob                        object
sweat                     float64
height                      int64
weight                      int64
profession                 object
skin_type                  object
climate                    object
season                     object
fp_country                 object
fp_time_zone               object
fragrance_id                int64
fragrance                  object
fragrance_gender           object
fragrance_discontinued    float64
fragrance_type             object
accord                     object
ingredient                 object
brand_id                    int64
brand                      object
brand_discontinued        float64
brand_tier                 object
bo_location_country        object
bo_location_zone           object
fba_location_country       object
fba_location_zone          object
dtype: object

In [124]:
df.isnull().sum()

ufr_id                      0
fba_country_name            0
fba_time_zone               0
longevity                   0
suitability               180
sustainability              0
apply_time                  0
wear_off_time               0
indoor_time_percentage      0
number_of_sprays            0
projection                180
sillage                     0
like                        0
temp_avg                    0
hum_avg                     0
dew_point_avg               0
uv_index_avg                0
temp_feels_like_avg         0
atm_pressure_avg            0
clouds_avg                  0
visibility_avg              0
wind_speed_avg              0
rain_avg                    0
snow_avg                  180
weather_main                0
weather_description         0
users_id                    0
fp_id                       0
user_check                144
gender                      0
dob                         0
sweat                     108
height                      0
weight                      0
profession                  0
skin_type                   0
climate                     0
season                      0
fp_country                  0
fp_time_zone                0
fragrance_id                0
fragrance                   0
fragrance_gender            0
fragrance_discontinued    180
fragrance_type              0
accord                      0
ingredient                  0
brand_id                    0
brand                       0
brand_discontinued        180
brand_tier                  0
bo_location_country         0
bo_location_zone            0
fba_location_country        0
fba_location_zone           0
dtype: int64

In [125]:
# Missing Values
# df['suitability'].fillna(df['suitability'].median(), inplace=True)
# df['suitability'].fillna(int(df['suitability'].mean()), inplace=True)

df['suitability'].fillna(int(0), inplace=True)

df['projection'].fillna(int(0), inplace=True)
df['rain_avg'].fillna(int(0), inplace=True)
df['snow_avg'].fillna(int(0), inplace=True)

df['user_check'].fillna(int(0), inplace=True)


df['sweat'].fillna(int(df['sweat'].mean()), inplace=True)


df['fragrance_discontinued'].fillna(int(0), inplace=True)
df['brand_discontinued'].fillna(int(0), inplace=True)

In [126]:
df = df.convert_dtypes()

# Datetime
df['dob']               = df['dob'].astype('datetime64[ns]')
df['apply_time']        = df['apply_time'].astype('datetime64[ns]')
df['wear_off_time']     = df['wear_off_time'].astype('datetime64[ns]')

# Boolean
df['user_check']                = df['user_check'].astype('bool')
df['fragrance_discontinued']    = df['fragrance_discontinued'].astype('bool')
df['brand_discontinued']        = df['brand_discontinued'].astype('bool')

# Categorical Variables
df["ufr_id"]                = df["ufr_id"].astype(CategoricalDtype(df.ufr_id.unique()))
df["users_id"]              = df["users_id"].astype(CategoricalDtype(df.users_id.unique()))
df["fba_country_name"]      = df["fba_country_name"].astype(CategoricalDtype(df.fba_country_name.unique()))
df["fba_time_zone"]         = df["fba_time_zone"].astype(CategoricalDtype(df.fba_time_zone.unique()))
df["weather_main"]          = df["weather_main"].astype(CategoricalDtype(df.weather_main.unique()))
df["weather_description"]   = df["weather_description"].astype(CategoricalDtype(df.weather_description.unique()))
df["fp_id"]                 = df["fp_id"].astype(CategoricalDtype(df.fp_id.unique()))
df["gender"]                = df["gender"].astype(CategoricalDtype(df.gender.unique()))
df["profession"]            = df["profession"].astype(CategoricalDtype(df.profession.unique()))
df["skin_type"]             = df["skin_type"].astype(CategoricalDtype(df.skin_type.unique()))
df["climate"]               = df["climate"].astype(CategoricalDtype(df.climate.unique()))
df["season"]                = df["season"].astype(CategoricalDtype(df.season.unique()))
df["fp_country"]            = df["fp_country"].astype(CategoricalDtype(df.fp_country.unique()))
df["fp_time_zone"]          = df["fp_time_zone"].astype(CategoricalDtype(df.fp_time_zone.unique()))
df["fragrance_id"]          = df["fragrance_id"].astype(CategoricalDtype(df.fragrance_id.unique()))
df["fragrance"]             = df["fragrance"].astype(CategoricalDtype(df.fragrance.unique()))
df["fragrance_gender"]      = df["fragrance_gender"].astype(CategoricalDtype(df.fragrance_gender.unique()))
df["fragrance_type"]        = df["fragrance_type"].astype(CategoricalDtype(df.fragrance_type.unique()))
df["accord"]                = df["accord"].astype(CategoricalDtype(df.accord.unique()))
df["ingredient"]            = df["ingredient"].astype(CategoricalDtype(df.ingredient.unique()))
df["brand_id"]              = df["brand_id"].astype(CategoricalDtype(df.brand_id.unique()))
df["brand"]                 = df["brand"].astype(CategoricalDtype(df.brand.unique()))
df["brand_tier"]            = df["brand_tier"].astype(CategoricalDtype(df.brand_tier.unique()))
df["bo_location_country"]   = df["bo_location_country"].astype(CategoricalDtype(df.bo_location_country.unique()))
df["bo_location_zone"]      = df["bo_location_zone"].astype(CategoricalDtype(df.bo_location_zone.unique()))
df["fba_location_country"]  = df["fba_location_country"].astype(CategoricalDtype(df.fba_location_country.unique()))
df["fba_location_zone"]     = df["fba_location_zone"].astype(CategoricalDtype(df.fba_location_zone.unique()))


df.dtypes

ufr_id                          category
fba_country_name                category
fba_time_zone                   category
longevity                          Int64
suitability                        Int64
sustainability                   float64
apply_time                datetime64[ns]
wear_off_time             datetime64[ns]
indoor_time_percentage             Int64
number_of_sprays                   Int64
projection                         Int64
sillage                          float64
like                               Int64
temp_avg                         float64
hum_avg                          float64
dew_point_avg                    float64
uv_index_avg                     float64
temp_feels_like_avg              float64
atm_pressure_avg                 float64
clouds_avg                       float64
visibility_avg                     Int64
wind_speed_avg                   float64
rain_avg                         float64
snow_avg                           Int64
weather_main                    category
weather_description             category
users_id                        category
fp_id                           category
user_check                          bool
gender                          category
dob                       datetime64[ns]
sweat                              Int64
height                             Int64
weight                             Int64
profession                      category
skin_type                       category
climate                         category
season                          category
fp_country                      category
fp_time_zone                    category
fragrance_id                    category
fragrance                       category
fragrance_gender                category
fragrance_discontinued              bool
fragrance_type                  category
accord                          category
ingredient                      category
brand_id                        category
brand                           category
brand_discontinued                  bool
brand_tier                      category
bo_location_country             category
bo_location_zone                category
fba_location_country            category
fba_location_zone               category
dtype: object

In [127]:
# Calcualting Age

now = pd.to_datetime('now')
df['age'] = (now - df['dob']).dt.total_seconds() / (60*60*24*365.25)
df.drop(['dob'],axis=1, inplace=True)

In [128]:
# Sorting out Dates

# Apply Time
df['apply_time_year']          = df['apply_time'].dt.year
df['apply_time_month']         = df['apply_time'].dt.month
df['apply_time_day']           = df['apply_time'].dt.day
df['apply_time_hour']          = df['apply_time'].dt.hour
df['apply_time_minute']        = df['apply_time'].dt.minute
df['apply_time_weekday_name']  = df['apply_time'].dt.day_name()

# Wear Off Time
df['wear_off_time_year']          = df['wear_off_time'].dt.year
df['wear_off_time_month']         = df['wear_off_time'].dt.month
df['wear_off_time_day']           = df['wear_off_time'].dt.day
df['wear_off_time_hour']          = df['wear_off_time'].dt.hour
df['wear_off_time_minute']        = df['wear_off_time'].dt.minute
df['wear_off_time_weekday_name']  = df['wear_off_time'].dt.day_name()

# Type Cast
df['age']               = df['age'].astype('float')

# Drop Apply Time & Wear Off Time
df.drop(['apply_time'],axis=1, inplace=True)
df.drop(['wear_off_time'],axis=1, inplace=True)

In [129]:
df.describe()

,longevity,suitability,sustainability,indoor_time_percentage,number_of_sprays,projection,sillage,like,temp_avg,hum_avg,...,apply_time_year,apply_time_month,apply_time_day,apply_time_hour,apply_time_minute,wear_off_time_year,wear_off_time_month,wear_off_time_day,wear_off_time_hour,wear_off_time_minute
count,180.0,180.0,1.800000e+02,180.0,180.0,180.0,180.0,180.0,1.800000e+02,1.800000e+02,...,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0
mean,1.0,0.0,2.000000e-02,54.0,11.0,0.0,22.5,53.0,8.143000e+01,7.538000e+01,...,2021.0,2.0,12.0,10.0,58.0,2021.0,2.0,12.0,10.0,57.0
std,0.0,0.0,1.391650e-17,0.0,0.0,0.0,0.0,0.0,1.852564e-13,2.565089e-13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,0.0,2.000000e-02,54.0,11.0,0.0,22.5,53.0,8.143000e+01,7.538000e+01,...,2021.0,2.0,12.0,10.0,58.0,2021.0,2.0,12.0,10.0,57.0
25%,1.0,0.0,2.000000e-02,54.0,11.0,0.0,22.5,53.0,8.143000e+01,7.538000e+01,...,2021.0,2.0,12.0,10.0,58.0,2021.0,2.0,12.0,10.0,57.0
50%,1.0,0.0,2.000000e-02,54.0,11.0,0.0,22.5,53.0,8.143000e+01,7.538000e+01,...,2021.0,2.0,12.0,10.0,58.0,2021.0,2.0,12.0,10.0,57.0
75%,1.0,0.0,2.000000e-02,54.0,11.0,0.0,22.5,53.0,8.143000e+01,7.538000e+01,...,2021.0,2.0,12.0,10.0,58.0,2021.0,2.0,12.0,10.0,57.0
max,1.0,0.0,2.000000e-02,54.0,11.0,0.0,22.5,53.0,8.143000e+01,7.538000e+01,...,2021.0,2.0,12.0,10.0,58.0,2021.0,2.0,12.0,10.0,57.0

In [130]:
# use pd.concat to join the new columns with your original dataframe
df = pd.concat([df,pd.get_dummies(df['ufr_id'], prefix='ufr_id')],axis=1)
df = pd.concat([df,pd.get_dummies(df['users_id'], prefix='users_id')],axis=1)

df = pd.concat([df,pd.get_dummies(df['apply_time_weekday_name'], prefix='apply_time_weekday_name')],axis=1)
df = pd.concat([df,pd.get_dummies(df['wear_off_time_weekday_name'], prefix='wear_off_time_weekday_name')],axis=1)

df = pd.concat([df,pd.get_dummies(df['fba_country_name'], prefix='fba_country_name')],axis=1)
df = pd.concat([df,pd.get_dummies(df['fba_time_zone'], prefix='fba_time_zone')],axis=1)

df = pd.concat([df,pd.get_dummies(df['weather_main'], prefix='weather_main')],axis=1)
df = pd.concat([df,pd.get_dummies(df['weather_description'], prefix='weather_description')],axis=1)

df = pd.concat([df,pd.get_dummies(df['fp_id'], prefix='fp_id')],axis=1)
df = pd.concat([df,pd.get_dummies(df['gender'], prefix='gender')],axis=1)
df = pd.concat([df,pd.get_dummies(df['profession'], prefix='profession')],axis=1)
df = pd.concat([df,pd.get_dummies(df['skin_type'], prefix='skin_type')],axis=1)
df = pd.concat([df,pd.get_dummies(df['climate'], prefix='climate')],axis=1)
df = pd.concat([df,pd.get_dummies(df['season'], prefix='season')],axis=1)

df = pd.concat([df,pd.get_dummies(df['fp_country'], prefix='fp_country')],axis=1)
df = pd.concat([df,pd.get_dummies(df['fp_time_zone'], prefix='fp_time_zone')],axis=1)

df = pd.concat([df,pd.get_dummies(df['fragrance_id'], prefix='fragrance_id')],axis=1)
df = pd.concat([df,pd.get_dummies(df['fragrance'], prefix='fragrance')],axis=1)
df = pd.concat([df,pd.get_dummies(df['fragrance_gender'], prefix='fragrance_gender')],axis=1)
df = pd.concat([df,pd.get_dummies(df['fragrance_type'], prefix='fragrance_type')],axis=1)

df = pd.concat([df,pd.get_dummies(df['accord'], prefix='accord')],axis=1)
df = pd.concat([df,pd.get_dummies(df['ingredient'], prefix='ingredient')],axis=1)

df = pd.concat([df,pd.get_dummies(df['brand_id'], prefix='brand_id')],axis=1)
df = pd.concat([df,pd.get_dummies(df['brand'], prefix='brand')],axis=1)
df = pd.concat([df,pd.get_dummies(df['brand_tier'], prefix='brand_tier')],axis=1)
df = pd.concat([df,pd.get_dummies(df['bo_location_country'], prefix='bo_location_country')],axis=1)
df = pd.concat([df,pd.get_dummies(df['bo_location_zone'], prefix='bo_location_zone')],axis=1)

df = pd.concat([df,pd.get_dummies(df['fba_location_country'], prefix='fba_location_country')],axis=1)
df = pd.concat([df,pd.get_dummies(df['fba_location_zone'], prefix='fba_location_zone')],axis=1)

In [131]:
# now drop the original 'country' column (you don't need it anymore)
df.drop(['ufr_id'],axis=1, inplace=True)
df.drop(['users_id'],axis=1, inplace=True)

df.drop(['apply_time_weekday_name'],axis=1, inplace=True)
df.drop(['wear_off_time_weekday_name'],axis=1, inplace=True)

df.drop(['fba_country_name'],axis=1, inplace=True)
df.drop(['fba_time_zone'],axis=1, inplace=True)

df.drop(['weather_main'],axis=1, inplace=True)
df.drop(['weather_description'],axis=1, inplace=True)

df.drop(['fp_id'],axis=1, inplace=True)
df.drop(['gender'],axis=1, inplace=True)
df.drop(['profession'],axis=1, inplace=True)
df.drop(['skin_type'],axis=1, inplace=True)
df.drop(['climate'],axis=1, inplace=True)
df.drop(['season'],axis=1, inplace=True)

df.drop(['fp_country'],axis=1, inplace=True)
df.drop(['fp_time_zone'],axis=1, inplace=True)

df.drop(['fragrance_id'],axis=1, inplace=True)
df.drop(['fragrance'],axis=1, inplace=True)
df.drop(['fragrance_gender'],axis=1, inplace=True)
df.drop(['fragrance_type'],axis=1, inplace=True)

df.drop(['accord'],axis=1, inplace=True)
df.drop(['ingredient'],axis=1, inplace=True)

df.drop(['brand_id'],axis=1, inplace=True)
df.drop(['brand'],axis=1, inplace=True)
df.drop(['brand_tier'],axis=1, inplace=True)
df.drop(['bo_location_country'],axis=1, inplace=True)
df.drop(['bo_location_zone'],axis=1, inplace=True)

df.drop(['fba_location_country'],axis=1, inplace=True)
df.drop(['fba_location_zone'],axis=1, inplace=True)

# To Be Included Later
df.drop(['indoor_time_percentage'],axis=1, inplace=True)
df.drop(['number_of_sprays'],axis=1, inplace=True)
df.drop(['projection'],axis=1, inplace=True)
df.drop(['sillage'],axis=1, inplace=True)
df.drop(['like'],axis=1, inplace=True)

In [132]:
print(df.shape)
print(df.duplicated(keep='first').sum())

(180, 89)
0

In [133]:
df.head()

,longevity,suitability,sustainability,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,...,brand_Venom,brand_tier_High,bo_location_country_Denmark,bo_location_zone_+02:00,fba_location_country_Chile,fba_location_country_Aland Islands,fba_location_country_Algeria,fba_location_zone_-04:00,fba_location_zone_+03:00,fba_location_zone_+01:00
0,1,0,0.02,81.43,75.38,73.02,14.1,83.08,1010.75,44.62,...,1,1,1,1,1,0,0,1,0,0
1,1,0,0.02,81.43,75.38,73.02,14.1,83.08,1010.75,44.62,...,1,1,1,1,1,0,0,1,0,0
2,1,0,0.02,81.43,75.38,73.02,14.1,83.08,1010.75,44.62,...,1,1,1,1,1,0,0,1,0,0
3,1,0,0.02,81.43,75.38,73.02,14.1,83.08,1010.75,44.62,...,1,1,1,1,1,0,0,1,0,0
4,1,0,0.02,81.43,75.38,73.02,14.1,83.08,1010.75,44.62,...,1,1,1,1,1,0,0,1,0,0

In [134]:
# Use this and fix this
# aggregation_functions = {'longevity': 'first', 'amount': 'sum', 'name': 'first'}
# df_new = df.groupby(df['ufr_id']).aggregate(aggregation_functions)
# df_new.head()

In [135]:
df.drop_duplicates(subset=None, keep="first", inplace=True)
df.shape

(180, 89)

In [136]:
# df_long.head()
# df_suit.head()
# df_sust.head()

In [137]:
df.describe()

,longevity,suitability,sustainability,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,...,brand_Venom,brand_tier_High,bo_location_country_Denmark,bo_location_zone_+02:00,fba_location_country_Chile,fba_location_country_Aland Islands,fba_location_country_Algeria,fba_location_zone_-04:00,fba_location_zone_+03:00,fba_location_zone_+01:00
count,180.0,180.0,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,180.00,1.800000e+02,...,180.0,180.0,180.0,180.0,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,1.0,0.0,2.000000e-02,8.143000e+01,7.538000e+01,7.302000e+01,1.410000e+01,8.308000e+01,1010.75,4.462000e+01,...,1.0,1.0,1.0,1.0,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
std,0.0,0.0,1.391650e-17,1.852564e-13,2.565089e-13,2.992604e-13,4.809542e-14,5.700198e-14,0.00,9.262821e-14,...,0.0,0.0,0.0,0.0,0.472719,0.472719,0.472719,0.472719,0.472719,0.472719
min,1.0,0.0,2.000000e-02,8.143000e+01,7.538000e+01,7.302000e+01,1.410000e+01,8.308000e+01,1010.75,4.462000e+01,...,1.0,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,0.0,2.000000e-02,8.143000e+01,7.538000e+01,7.302000e+01,1.410000e+01,8.308000e+01,1010.75,4.462000e+01,...,1.0,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.0,0.0,2.000000e-02,8.143000e+01,7.538000e+01,7.302000e+01,1.410000e+01,8.308000e+01,1010.75,4.462000e+01,...,1.0,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.0,0.0,2.000000e-02,8.143000e+01,7.538000e+01,7.302000e+01,1.410000e+01,8.308000e+01,1010.75,4.462000e+01,...,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.0,0.0,2.000000e-02,8.143000e+01,7.538000e+01,7.302000e+01,1.410000e+01,8.308000e+01,1010.75,4.462000e+01,...,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [138]:
# Longevity
df_long = df[df.columns.difference(['suitability',  'sustainability'], sort=False)]
df_suit = df[df.columns.difference(['longevity',    'sustainability'], sort=False)]
df_sust = df[df.columns.difference(['longevity',    'suitability'], sort=False)]

## Train

### Longevity

In [139]:
# define the target variable (dependent variable) as y
y = df.longevity

In [140]:
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(144, 89) (144,)
(36, 89) (36,)

In [141]:
# fit a model
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

## Test

In [142]:
# Test
predictions = lm.predict(X_test)

In [143]:
predictions

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1.])

## Evaluate

In [144]:
## The line / model
# plt.scatter(y_test, predictions)
# plt.xlabel(“True Values”)
# plt.ylabel(“Predictions”)

## Save the model in pickle

In [145]:
#Pickling the list
file = open('model', 'wb')

# dump information to that file
list_pickle = pickle.dump(model, file)

# close the file
file.close()

In [146]:
# Open file to 
file = open('model', 'rb')

# Load model from the file
loaded_pickle = pickle.load(file)

# close the file
file.close()

In [147]:
loaded_pickle

LinearRegression()

# END

In [32]:
# y = diabetes.longevity # define the target variable (dependent variable) as y

In [33]:
# ax = sns.regplot(x = 'year', y = 'total', data=df)

In [34]:
# df.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
# df.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
# df['Total'] = df.sum(axis=1)
# df.head()

In [35]:
# df.set_index('Country', inplace=True)
# df.index.name = None

In [36]:
# df.columns = list(map(str, df.columns))

# years = list(map(str, range(1980, 2014)))

In [37]:
# df.head()

In [38]:
# df.sort_values('Total', ascending=False, axis=0, inplace=True)
# df.head(10)

In [39]:
# df.sort_values('Total', ascending=False, axis=0, inplace=True)

# # dft = df.loc('Unknown')
# # df.drop(df.loc('Unknown'))
# dft = df.drop(index = 'Unknown')
# dft = dft.drop(index = 'Total')

# # get the top 5 entries
# # df_top5 = df[1:6]
# # df_top5 = dft.head()

# # transpose the dataframe
# # df_top5 = df_top5[years].transpose() 

# # df_top5.head()

# # we can use the sum() method to get the total population per year
# df_tot = pd.DataFrame(dft[years].sum(axis=0))

# # change the years to type float (useful for regression later on)
# df_tot.index = map(float, df_tot.index)

# # reset the index to put in back in as a column in the df_tot dataframe
# df_tot.reset_index(inplace=True)

# # rename columns
# df_tot.columns = ['year', 'total']

# # view the final dataframe
# df_tot.head()

In [40]:
# ax = sns.regplot(x='year', y='total', data=df_tot)

In [41]:
# ax = sns.regplot(x='year', y='total', data=df_tot, color='red')

In [42]:
# ax = sns.regplot(x='year', y='total', data=df_tot, color='green', marker='+')

In [43]:
# plt.figure(figsize=(15, 10))
# ax = sns.regplot(x='year', y='total', data=df_tot, color='green', marker='+', scatter_kws={'s': 200})

# ax.set(xlabel='Year', ylabel='Total Immigration') # add x- and y-labels
# ax.set_title('Total Immigration to Canada from 1980 - 2013') # add title

In [44]:
# plt.figure(figsize=(15, 10))

# sns.set(font_scale=1.5)

# ax = sns.regplot(x='year', y='total', data=df_tot, color='green', marker='+', scatter_kws={'s': 200})
# ax.set(xlabel='Year', ylabel='Total Immigration')
# ax.set_title('Total Immigration to Canada from 1980 - 2013')

In [45]:
# plt.figure(figsize=(15, 10))

# sns.set(font_scale=1.5)
# sns.set_style('ticks') # change background to white background

# ax = sns.regplot(x='year', y='total', data=df_tot, color='green', marker='+', scatter_kws={'s': 200})
# ax.set(xlabel='Year', ylabel='Total Immigration')
# ax.set_title('Total Immigration to Canada from 1980 - 2013')

In [46]:
# plt.figure(figsize=(15, 10))

# sns.set(font_scale=1.5)
# sns.set_style('whitegrid')

# ax = sns.regplot(x='year', y='total', data=df_tot, color='green', marker='+', scatter_kws={'s': 200})
# ax.set(xlabel='Year', ylabel='Total Immigration')
# ax.set_title('Total Immigration to Canada from 1980 - 2013')

In [47]:
# ### type your answer here

# dfr = dft.loc[['Denmark', 'Sweden', 'Norway'], years].transpose()

# df_total = pd.DataFrame(dfr.sum(axis=1))

# df_total.reset_index(inplace=True)

# df_total.columns = ['year', 'total']
# df_total.head()

# df_total['year'] = df_total['year'].astype(int)

# plt.figure(figsize = (15,10))

# sns.set_style('whitegrid')
# sns.set(font_scale=1.5)

# ax = sns.regplot(x='year', y='total', data=df_total, color='red', marker='+', scatter_kws={'s': 200})
# ax.set(xlabel='Year', ylabel='Total Immigration')
# ax.set_title('Total Immigrationn from Denmark, Sweden, and Norway to Canada from 1980 - 2013\n')

# plt.show()