## Extraction

In [306]:
%matplotlib inline

# Write column names

In [307]:
def listToString(s): 
    
    # initialize an empty string
    str1 = "\n" 
    
    # return string  
    return (str1.join(s))

# Libraries Import

In [308]:
import numpy as np
import pandas as pd
# import xlrd
# import matplotlib as mpl
import matplotlib.pyplot as plt
# import seaborn as sns
from pandas.api.types import CategoricalDtype

# For import export of model
import pickle

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression

from sklearn import metrics

# print(plt.style.available)
# mpl.style.use(['seaborn']) # optional: for ggplot-like style

# Data Related

## Data Import

In [309]:
datastore = pd.read_csv('D:\\OneDrive - Institute of Business Administration\\Work\\Duft Und Du\\user_fragrance_review.csv', header=0)

In [310]:
df = pd.DataFrame(data=datastore)
df

,ufr_id,fba_country_name,fba_time_zone,longevity,suitability,sustainability,apply_time,wear_off_time,indoor_time_percentage,number_of_sprays,...,accord,ingredient,brand_id,brand,brand_discontinued,brand_tier,bo_location_country,bo_location_zone,fba_location_country,fba_location_zone
0,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Bergamot,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00
1,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Bitter Orange,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00
2,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Blood Orange,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00
3,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Calamansi,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00
4,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Chinotto,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,5,United Arab Emirates,+04:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,Citrus,Lime,7,Brut,NaN,Low-End,France,+02:00,United Arab Emirates,+04:00
1520,5,United Arab Emirates,+04:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,Citrus,Limetta,7,Brut,NaN,Low-End,France,+02:00,United Arab Emirates,+04:00
1521,5,United Arab Emirates,+04:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,Citrus,Litsea Cubeba,7,Brut,NaN,Low-End,France,+02:00,United Arab Emirates,+04:00
1522,5,United Arab Emirates,+04:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,Citrus,Mandarin Orange,7,Brut,NaN,Low-End,France,+02:00,United Arab Emirates,+04:00
1523,5,United Arab Emirates,+04:00,14,NaN,0.7,2021-03-04 17:21:00,2021-03-04 17:35:00,80,7,...,Citrus,Mandora,7,Brut,NaN,Low-End,France,+02:00,United Arab Emirates,+04:00

In [311]:
df.head()

,ufr_id,fba_country_name,fba_time_zone,longevity,suitability,sustainability,apply_time,wear_off_time,indoor_time_percentage,number_of_sprays,...,accord,ingredient,brand_id,brand,brand_discontinued,brand_tier,bo_location_country,bo_location_zone,fba_location_country,fba_location_zone
0,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Bergamot,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00
1,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Bitter Orange,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00
2,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Blood Orange,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00
3,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Calamansi,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00
4,4,Italy,+02:00,270,NaN,6.0,2021-03-04 07:30:00,2021-03-04 12:00:00,55,16,...,Warm,Chinotto,6,Versace,NaN,High-End,Italy,+02:00,Italy,+02:00

In [312]:
# df.columns

## Cleaning

In [313]:
df.drop(columns=['ufr_id', 'fba_country_name', 'fba_time_zone', 'suitability', 'sustainability', 'sillage', 'like', 'users_id', 'user_check', 'fragrance_id', 'brand_id', 'fba_location_country', 'fba_location_zone', 'wear_off_time', 'indoor_time_percentage', 'projection', 'accord', 'ingredient', 'climate', 'fp_time_zone', 'fragrance_discontinued', 'brand_discontinued', 'bo_location_zone', 'weather_description'], inplace=True)

# Write column name to files
with open("longevity_column_names_after_initial_drop.txt", "w") as f:
    f.write(listToString(df.columns))

In [314]:
df.drop_duplicates(subset=None, keep="first", inplace=True)
df.shape

(2, 31)

In [315]:
df.isnull().sum()

longevity              0
apply_time             0
number_of_sprays       0
temp_avg               0
hum_avg                0
dew_point_avg          0
uv_index_avg           0
temp_feels_like_avg    0
atm_pressure_avg       0
clouds_avg             0
visibility_avg         0
wind_speed_avg         0
rain_avg               1
snow_avg               2
weather_main           0
fp_id                  0
gender                 0
dob                    0
sweat                  0
height                 0
weight                 0
profession             0
skin_type              0
season                 0
fp_country             0
fragrance              0
fragrance_gender       0
fragrance_type         0
brand                  0
brand_tier             0
bo_location_country    0
dtype: int64

In [316]:
# Missing Values
# df['suitability'].fillna(df['suitability'].median(), inplace=True)
# df['suitability'].fillna(int(df['suitability'].mean()), inplace=True)

# df['suitability'].fillna(int(0), inplace=True)

# df['projection'].fillna(int(0), inplace=True)
df['rain_avg'].fillna(int(0), inplace=True)
df['snow_avg'].fillna(int(0), inplace=True)

# df['user_check'].fillna(int(0), inplace=True)


df['sweat'].fillna(int(df['sweat'].mean()), inplace=True)


# df['fragrance_discontinued'].fillna(int(0), inplace=True)
# df['brand_discontinued'].fillna(int(0), inplace=True)

In [317]:
# df['skin_type']

In [318]:
# # create the dummies on the training data
# dummy_train = pd.get_dummies(df['skin_type'])
# dummy_train

In [319]:
# # create the dummies in the new (unseen data)
# test_df = pd.DataFrame(data=['Very Oily', 'low', 'Normal'], columns=['skin_type'])
# test_df['skin_type']

In [320]:
# dummy_new = pd.get_dummies(test_df['skin_type'])
# dummy_new

In [321]:
# # re-index the new data to the columns of the training data, filling the missing values with 0
# dummy_new.reindex(columns = dummy_train.columns, fill_value=0)
# dummy_new

In [322]:
# data['Temperature_encoded'] = data['Temperature'].map( {'low':0, 'medium':1, 'high':2})
# data[['Temperature', 'Temperature_encoded']]

### Data Types

In [323]:
df.dtypes

longevity                int64
apply_time              object
number_of_sprays         int64
temp_avg               float64
hum_avg                float64
dew_point_avg          float64
uv_index_avg           float64
temp_feels_like_avg    float64
atm_pressure_avg       float64
clouds_avg             float64
visibility_avg           int64
wind_speed_avg         float64
rain_avg               float64
snow_avg               float64
weather_main            object
fp_id                    int64
gender                  object
dob                     object
sweat                    int64
height                   int64
weight                   int64
profession              object
skin_type               object
season                  object
fp_country              object
fragrance               object
fragrance_gender        object
fragrance_type          object
brand                   object
brand_tier              object
bo_location_country     object
dtype: object

In [324]:

# Datetime
df['dob']               = df['dob'].astype('datetime64[ns]')
df['apply_time']        = df['apply_time'].astype('datetime64[ns]')
# df['wear_off_time']     = df['wear_off_time'].astype('datetime64[ns]')

# Boolean
# df['fragrance_discontinued']    = df['fragrance_discontinued'].astype('bool')
# df['brand_discontinued']        = df['brand_discontinued'].astype('bool')

### Adding new

In [325]:
# Calcualting Age
now = pd.to_datetime('now')
df['age'] = (now - df['dob']).dt.total_seconds() / (60*60*24*365.25)

# Type Cast
df['age'] = df['age'].astype('float')

# Drop dob
df.drop(['dob'],axis=1, inplace=True)

In [326]:
# Sorting out Dates

# Apply Time
df['apply_time_year']          = df['apply_time'].dt.year
df['apply_time_month']         = df['apply_time'].dt.month
df['apply_time_day']           = df['apply_time'].dt.day
df['apply_time_hour']          = df['apply_time'].dt.hour
df['apply_time_minute']        = df['apply_time'].dt.minute
df['apply_time_weekday_name']  = df['apply_time'].dt.day_name()

# Drop Apply Time & Wear Off Time
df.drop(['apply_time'],axis=1, inplace=True)

In [327]:
df.dtypes

longevity                    int64
number_of_sprays             int64
temp_avg                   float64
hum_avg                    float64
dew_point_avg              float64
uv_index_avg               float64
temp_feels_like_avg        float64
atm_pressure_avg           float64
clouds_avg                 float64
visibility_avg               int64
wind_speed_avg             float64
rain_avg                   float64
snow_avg                   float64
weather_main                object
fp_id                        int64
gender                      object
sweat                        int64
height                       int64
weight                       int64
profession                  object
skin_type                   object
season                      object
fp_country                  object
fragrance                   object
fragrance_gender            object
fragrance_type              object
brand                       object
brand_tier                  object
bo_location_country         object
age                        float64
apply_time_year              int64
apply_time_month             int64
apply_time_day               int64
apply_time_hour              int64
apply_time_minute            int64
apply_time_weekday_name     object
dtype: object

### Categorical Variables

In [328]:
categorical_columns = df.select_dtypes(include=['object']).columns.values
df = df.convert_dtypes()
categorical_columns

array(['weather_main', 'gender', 'profession', 'skin_type', 'season',
       'fp_country', 'fragrance', 'fragrance_gender', 'fragrance_type',
       'brand', 'brand_tier', 'bo_location_country',
       'apply_time_weekday_name'], dtype=object)

In [329]:
def resolve_categorical_variable(df, column_name):
    df = pd.concat([df,pd.get_dummies(df[column_name], prefix=column_name)],axis=1)
    df.drop([column_name],axis=1, inplace=True)
    return df

def resolve_categorical_variables(df, column_names_arr):
    dummies = {};
    
    for column_name in column_names_arr:
        
        dummies[column_name] = pd.get_dummies(df[column_name], prefix=column_name)
        
        df = pd.concat([df, dummies[column_name]], axis=1)
        df.drop([column_name], axis=1, inplace=True)
    
    # Save dummies for prediction
    with open('longevity_dummies.pickle', 'wb') as f:
        pickle.dump(dummies, f)
        
    return df

In [330]:
df = resolve_categorical_variables(df, np.append(categorical_columns, ('fp_id')))

# Save columne names
file = open('longevity_column_names_after_cleaning_drop.txt', 'w')

# dump information to that file
file.write(listToString(df.columns))

# close the file
file.close()

df.columns

Index(['longevity', 'number_of_sprays', 'temp_avg', 'hum_avg', 'dew_point_avg',
       'uv_index_avg', 'temp_feels_like_avg', 'atm_pressure_avg', 'clouds_avg',
       'visibility_avg', 'wind_speed_avg', 'rain_avg', 'snow_avg', 'sweat',
       'height', 'weight', 'age', 'apply_time_year', 'apply_time_month',
       'apply_time_day', 'apply_time_hour', 'apply_time_minute',
       'weather_main_Clear', 'weather_main_Rain', 'gender_Female',
       'gender_Male', 'profession_Doctor', 'profession_Footballer',
       'skin_type_Normal', 'skin_type_Very Oily', 'season_Summer',
       'season_Winter', 'fp_country_Pakistan', 'fragrance_Bright Crystal',
       'fragrance_Parfums Prestige Paris 1965', 'fragrance_gender_Female',
       'fragrance_gender_Male', 'fragrance_type_Eau de Toilette', 'brand_Brut',
       'brand_Versace', 'brand_tier_High-End', 'brand_tier_Low-End',
       'bo_location_country_France', 'bo_location_country_Italy',
       'apply_time_weekday_name_Thursday', 'fp_id_12', 'fp_id_13'],
      dtype='object')

In [331]:
print(df.shape)
print(df.duplicated(keep='first').sum())

(2, 47)
0

In [332]:
# df.to_csv('cleaned.csv', header=True, index=True)

In [333]:
df.head()

,longevity,number_of_sprays,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,visibility_avg,...,fragrance_type_Eau de Toilette,brand_Brut,brand_Versace,brand_tier_High-End,brand_tier_Low-End,bo_location_country_France,bo_location_country_Italy,apply_time_weekday_name_Thursday,fp_id_12,fp_id_13
0,270,16,74.99,22.5,32.45,6.4,69.75,1014.62,42.25,60000,...,1,0,1,1,0,0,1,1,0,1
912,14,7,78.42,21.75,35.66,6.39,72.09,1014.25,61.62,60000,...,1,1,0,0,1,1,0,1,1,0

In [334]:
# Use this and fix this
# aggregation_functions = {'longevity': 'first', 'amount': 'sum', 'name': 'first'}
# df_new = df.groupby(df['ufr_id']).aggregate(aggregation_functions)
# df_new.head()

In [335]:
df.drop_duplicates(subset=None, keep="first", inplace=True)
df.shape

(2, 47)

In [336]:
# Columns with any null values
df.columns[df.isna().any()].tolist()

[]

In [337]:
df.reset_index(drop=True, inplace=True)
df.head()

,longevity,number_of_sprays,temp_avg,hum_avg,dew_point_avg,uv_index_avg,temp_feels_like_avg,atm_pressure_avg,clouds_avg,visibility_avg,...,fragrance_type_Eau de Toilette,brand_Brut,brand_Versace,brand_tier_High-End,brand_tier_Low-End,bo_location_country_France,bo_location_country_Italy,apply_time_weekday_name_Thursday,fp_id_12,fp_id_13
0,270,16,74.99,22.5,32.45,6.4,69.75,1014.62,42.25,60000,...,1,0,1,1,0,0,1,1,0,1
1,14,7,78.42,21.75,35.66,6.39,72.09,1014.25,61.62,60000,...,1,1,0,0,1,1,0,1,1,0

In [338]:
# df.describe()

#### Saving columns to compare in prediction

In [339]:
with open('longevity_column_names_check.pickle', 'wb') as f:
    pickle.dump(df[df.columns.difference(['longevity'])].columns, f)

In [340]:
copy_df = df

In [341]:
df = copy_df

# Model

## Train

In [342]:
# define the target variable (dependent variable) as y
y = df.longevity
y = y.astype('float64')

df.drop('longevity', axis=1, inplace=True)

# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(1, 46) (1,)
(1, 46) (1,)

In [343]:
# Create Decision Tree classifer object
# clf = DecisionTreeRegressor(random_state = 0, criterion='mse')

log_reg = LogisticRegression()

In [298]:
# Train Decision Tree Classifer
# model = clf.fit(X_train, y_train)

model = log_reg.fit(X_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 11.0

## Test

In [ ]:
#Predict the response for test dataset
y_pred = model.predict(X_test)

In [ ]:
y_pred

In [ ]:
# X_test.dtypes

In [ ]:
# Test
# y_pred = lm.predict(X_test)
# from sklearn.model_selection import cross_val_predict
# predicted = cross_val_predict(lm, df_long, y, cv=10)

# fig, ax = plt.subplots()
# ax.scatter(y, predicted)
# ax.plot([y.min(), y.max()], [y.min(), y.max()], 'k--', lw=4)
# ax.set_xlabel('Measured')
# ax.set_ylabel('Predicted')
# plt.show()

## Evaluate

In [ ]:
## The line / model
plt.scatter(y_test, y_pred)
plt.xlabel("True Values")
plt.ylabel("Predictions")

In [ ]:
# The coefficients
# print('Coefficients: \n', model.coef_)
# The mean squared error
# print('Mean squared error: %.2f'
#       % metrics.mean_squared_error(y_test, y_pred))
# # The coefficient of determination: 1 is perfect prediction
# print('Coefficient of determination: %.2f'
#       % metrics.r2_score(y_test, y_pred))

# Plot outputs
# plt.scatter(X_test, y_test,  color='black')
# plt.plot(X_test, y_pred, color='blue', linewidth=3)

# plt.xticks(())
# plt.yticks(())

# plt.show()

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

### Fit over the full dataset

In [344]:
# model = clf.fit(df, y)

model = log_reg.fit(df, y)

In [345]:
model.predict(df)

array([270.,  14.])

## Save the vars pickle for prediction

### Model

In [346]:
with open('longevity_model.pickle', 'wb') as f:
    pickle.dump(model, f)

In [347]:
with open('longevity_model.pickle', 'rb') as f:
    loaded_pickle = pickle.load(f)
    
loaded_pickle

LogisticRegression()

### Categorical Variables

In [366]:
with open('longevity_dummies.pickle', 'rb') as f:
    train_dummies = pickle.load(f)

# Categorical variables in a dataframe
cat_df = pd.DataFrame()
for column_name in train_dummies:
    for dummy in train_dummies[column_name]:
        cat_df[dummy] = 0
        
# Save in file
with open('longevity_categorical_variables.pickle', 'wb') as f:
    pickle.dump(cat_df, f)
    
cat_df

Empty DataFrame
Columns: [weather_main_Clear, weather_main_Rain, gender_Female, gender_Male, profession_Doctor, profession_Footballer, skin_type_Normal, skin_type_Very Oily, season_Summer, season_Winter, fp_country_Pakistan, fragrance_Bright Crystal, fragrance_Parfums Prestige Paris 1965, fragrance_gender_Female, fragrance_gender_Male, fragrance_type_Eau de Toilette, brand_Brut, brand_Versace, brand_tier_High-End, brand_tier_Low-End, bo_location_country_France, bo_location_country_Italy, apply_time_weekday_name_Thursday, fp_id_12, fp_id_13]
Index: []

[0 rows x 25 columns]

# END